<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CTAppearanceTheme</key>
	<string>CTAppearanceNamedAuto</string>
	<key>CTKeyboardEventCommandModeActive</key>
	<true/>
	<key>CTKeyboardEventLeftOptionNumberActive</key>
	<true/>
	<key>CTPreferenceAppearanceContentSizeCategory</key>
	<integer>4</integer>
	<key>CTPreferenceApplicationSlideGestureSelectionMode</key>
	<string>CTSlideGestureSelectionModePanel</string>
	<key>CTPreferenceInputDoubleTouchSwitchGestureActive</key>
	<true/>
	<key>CTPreferenceInputSourceIdToUse</key>
	<string>kCTInputSourceIdNone</string>
	<key>CTPreferencePanelRecentItemsSwitcherKeyType</key>
	<string>CTItemKeyTypeNumber</string>
	<key>CTPreferencePanelRecentSwitcherShowAfterDelay</key>
	<true/>
	<key>CTPreferencePanelUpdatesSelectionOnMouseMove</key>
	<true/>
	<key>CTPreferencePanelWidth</key>
	<integer>5</integer>
	<key>CTPreferenceRecentItemsSwitcherSearchEnabled</key>
	<true/>
	<key>CTPreferenceSearchShortcutCommandLeftKeyEnabled</key>
	<false/>
	<key>CTPreferenceSearchShortcutCommandRightKeyEnabled</key>
	<false/>
	<key>CTPreferenceSearchShortcutEscapeKeyEnabled</key>
	<false/>
	<key>CTPreferenceSearchShortcutFunctionKeyEnabled</key>
	<false/>
	<key>CTPreferenceSearchShortcutModal</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldL
	ZXlDb2RlViRjbGFzc11Nb2RpZmllckZsYWdzEAGAAhIABAAA0hQVFhdaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc1pDVFNob3J0Y3V0oxYYGVtNQVNTaG9ydGN1dFhOU09iamVjdAgRGiQp
	MjdJTFFTV11kbHOBg4WKj5qjrrK+AAAAAAAAAQEAAAAAAAAAGgAAAAAAAAAAAAAAAAAA
	AMc=
	</data>
	<key>CTPreferenceSearchShortcutOptionLeftKeyEnabled</key>
	<false/>
	<key>CTPreferenceSearchShortcutOptionRightKeyEnabled</key>
	<false/>
	<key>CTPreferenceSidebarDisplayMode</key>
	<string>CTDisplayModeNone</string>
	<key>CTPreferenceSwitchers</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBoLDBYmJy00NTY3O0RHSElK
	VVZaXV5oa21xdFUkbnVsbNINDg8VWk5TLm9iamVjdHNWJGNsYXNzpRAREhMUgAKACoAP
	gBSAF4AZ2BcOGBkaGxwdHh8gISAjICVfEBlub25hY3RpdmVQcm9jZXNzZXNEaXNwbGF5
	XxAXbWluaW1pemVkV2luZG93c0Rpc3BsYXlXZW5hYmxlZF8QGndpbmRvd2xlc3NQcm9j
	ZXNzZXNEaXNwbGF5XG5leHRTaG9ydGN1dF8QFGhpZGRlbldpbmRvd3NEaXNwbGF5XHNw
	YWNlc09wdGlvboAHgAmACIADgAiABIAIgAYQAdMoDikqKyxXS2V5Q29kZV1Nb2RpZmll
	ckZsYWdzEDWABRIABAAA0i4vMDFaJGNsYXNzbmFtZVgkY2xhc3Nlc1pDVFNob3J0Y3V0
	ozAyM1tNQVNTaG9ydGN1dFhOU09iamVjdF8QEUNUU3BhY2VzT3B0aW9uQWxsXxATQ1RJ
	dGVtRGlzcGxheU5vcm1hbF8QHENUSXRlbURpc3BsYXlJblNlcGFyYXRlR3JvdXDSLi84
	OVpDVFN3aXRjaGVyojozWkNUU3dpdGNoZXLYFw4YGRobHB08Hz4hPkE+Q4ANgAmADoAD
	gA6AC4AOgAzTKA4pKitGgAUSAAwAAF8QEUNUU3BhY2VzT3B0aW9uQWxsXxATQ1RJdGVt
	RGlzcGxheUhpZGRlbl8QE0NUSXRlbURpc3BsYXlOb3JtYWzZFw4ZGhsYHB1LTB9OPlA+
	PkNUXxAQcHJldmlvdXNTaG9ydGN1dIATgAmAEIAOgBGADoAOgAyAEhAA0ygOKVcrWRAw
	gAUSAAgAANMoDilXK1yABRIACgAAXxATQ1RJdGVtRGlzcGxheUhpZGRlbtkXDhkaGxgc
	HUs8H04+Yz4+Q2eADYAJgBCADoAVgA6ADoAMgBbTKA4paStZEDKABdMoDilpK1yABdMZ
	Gw5Obx+AEIAYgAnTKA4pKitzgAUSABAAANIuL3V2V05TQXJyYXmidTMACAARABoAJAAp
	ADIANwBJAEwAUQBTAHAAdgB7AIYAjQCTAJUAlwCZAJsAnQCfALAAzADmAO4BCwEYAS8B
	PAE+AUABQgFEAUYBSAFKAUwBTgFVAV0BawFtAW8BdAF5AYQBjQGYAZwBqAGxAcUB2wH6
	Af8CCgINAhgCKQIrAi0CLwIxAjMCNQI3AjkCQAJCAkcCWwJxAocCmgKtAq8CsQKzArUC
	twK5ArsCvQK/AsECyALKAswC0QLYAtoC3wL1AwgDCgMMAw4DEAMSAxQDFgMYAxoDIQMj
	AyUDLAMuAzUDNwM5AzsDQgNEA0kDTgNWAAAAAAAAAgEAAAAAAAAAdwAAAAAAAAAAAAAA
	AAAAA1k=
	</data>
	<key>CTPreferenceWorkspaceGrouping</key>
	<string>CTWorkspaceGroupingCustom</string>
	<key>CTSidebarInactiveMaximumWidth</key>
	<integer>1</integer>
	<key>CTSidebarShowIndicesForWindows</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
</dict>
</plist>
